{% extends "layout.html.twig" %}

{% block title %}{{ billets.title }}{% endblock %}

{% block content %}
<p>
    <h2>{{ billets.title }}</h2>
   <p>{{ billets.content }}</p>
  

 <button class="btn btn-primary" href="#MonCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="MonCollapse" ; >Rajouter un commentaire</button>

    <section id="MonCollapse" class="collapse">
<div class="well">  

        {{ form_start(commentForm) }}
          <div class="form-name">
                
                {{ form_widget(commentForm.author, { 'attr':  {
                    'rows': '1',
                    'class': 'form-control',
                    'placeholder': 'Enter votre nom'
                }}) }}
            </div>
            <div class="form-group">
               
                {{ form_widget(commentForm.content, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control',
                    'placeholder': 'Enter your comment'
                }}) }}
            </div>
            <div class="form-group">
                <input type="submit" name="submit_t" class="btn btn-primary" value="Publish comment" />
                 </div>
       {{ form_end(commentForm) }}
    </div>
    </section> 
    <h3>Commentaires</h3>

    {% for comment in comments %}
        <section style="padding-bottom:10px;">
            
        <strong> {{ comment.author }} </strong> dit : {{ comment.content }} 
        <button class="btn-xs btn-primary btn-subcomment" parentId=" {{ comment.id }} " >Repondre</button>
        <br>
            
    <div class="well">  
        
          if
    <a href= "{{ path('bad', { 'id': comment.id }) }}" >signaler</a>
        else
    </div>
        
        {% for subcomment in comment.subcomments %}
            <div class="sub" style=" border-left: 6px solid grey;padding-left:10px;">
                <strong> {{ subcomment.author }}  </strong> dit : {{ subcomment.content }}<br>
            </div>
 
            {% for subcomment2 in subcomment.subcomments %}
               <div class="sub2" style=" border-left: 6px solid grey;padding-left:25px;">
                         <strong> {{ subcomment2.author }}  </strong> dit : {{ subcomment2.content }}<br>
               </div>
               {% for subcomment3 in subcomment2.subcomments %}
                    <div class="sub2" style=" border-left: 6px solid grey;padding-left:40px;">
                         <strong> {{ subcomment3.author }}  </strong> dit : {{ subcomment3.content }}<br>
                    </div>
                              
               {% endfor %}      
            {% endfor %} 
        {% endfor %} 
            
        </section>
    {% endfor %}


 <div id="dialog-form">     

 {{ form_start(subcommentForm) }}
          <div class="form-nom">
                
                {{ form_widget(subcommentForm.author, { 'attr':  {
                    'rows': '1',
                    'class': 'form-control',
                    'placeholder': 'Enter votre nom'
                }}) }}
            </div>
            <div class="form-cont">
               
                {{ form_widget(subcommentForm.content, { 'attr':  {
                    'rows': '1',
                    'col': '4',
                    'class': 'form-control',
                    'placeholder': 'Enter your comment'
                }}) }}
            </div>
     <div class="form-parent">
                
                {{ form_widget(subcommentForm.parent, { 'attr':  {
                    'rows': '1',
                    'class': 'form-control',
                    'placeholder': 'Enter votre parent id'
                }}) }}
            </div>
            <div class="form-group">
                <input type="submit" name="submit_p" class="btn btn-primary" value="Publish comment" />
                 </div> 
        {{ form_end(subcommentForm) }} 
</div>  
 


            
</p>
{% endblock %}